<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
      <link rel="shortcut icon" href="https://scontent-lhr3-1.xx.fbcdn.net/v/t1.0-9/17022364_10154447264686448_2992362732491885794_n.jpg?oh=04780cb2f44bd854298fe5595ebab86d&oe=595961F5" type="image/x-icon">
      <title>Jon Kolman - personal website</title>
      <link rel="stylesheet" href="assets/css/style.css">
  </head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <ul id="navbar">
    <li class="active"><a href="#">Home</a></li>
    <li><a target='_blank' href="https://medium.com/@jkol36">Blog</a></li>
    <li><a target='_blank' href="/bovadabot">Bovada Bot</a></li>
  </ul>
  <div class="resume-wrapper">
    <section class="profile section-padding">
      <div class="container">
        <div class="picture-resume-wrapper">
          <div class="picture-resume">
          <span><img src="https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-9/28277040_10155496185416448_1179710830117822488_n.jpg?_nc_cat=0&_nc_eui2=AeFaodN9MaGpk6qtY2D2tp5ii-z27ocnTMGNXvnXme-GQ0TfSj6JGBBJIzCepCk6PBpsaRP-Vak5QEa74hBkuXR3eI-By1yrvmDA0u1Iz5IAqA&oh=a794b4ad2d3b5495e6af4face74ba45e&oe=5B984C7C" alt="" /></span>
          <svg version="1.1" viewBox="0 0 350 350">
    
    <defs>
      <filter id="goo">
        <feGaussianBlur in="SourceGraphic" stdDeviation="8" result="blur" />
        <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 21 -9" result="cm" />
      </filter>
    </defs>
    
    
  <g filter="url(#goo)" >  
    
    <circle id="main_circle" class="st0" cx="171.5" cy="175.6" r="130"/>
    
    <circle id="circle" class="bubble0 st1" cx="171.5" cy="175.6" r="122.7"/>
    <circle id="circle" class="bubble1 st1" cx="171.5" cy="175.6" r="122.7"/>
    <circle id="circle" class="bubble2 st1" cx="171.5" cy="175.6" r="122.7"/>
    <circle id="circle" class="bubble3 st1" cx="171.5" cy="175.6" r="122.7"/>
    <circle id="circle" class="bubble4 st1" cx="171.5" cy="175.6" r="122.7"/>
    <circle id="circle" class="bubble5 st1" cx="171.5" cy="175.6" r="122.7"/>
    <circle id="circle" class="bubble6 st1" cx="171.5" cy="175.6" r="122.7"/>
    <circle id="circle" class="bubble7 st1" cx="171.5" cy="175.6" r="122.7"/>
    <circle id="circle" class="bubble8 st1" cx="171.5" cy="175.6" r="122.7"/>
    <circle id="circle" class="bubble9 st1" cx="171.5" cy="175.6" r="122.7"/>
    <circle id="circle" class="bubble10 st1" cx="171.5" cy="175.6" r="122.7"/>

  </g>  
  </svg>
        </div>
           <div class="clearfix"></div>
   </div>
        <div class="name-wrapper">
          <h1>Jon <br/>Kolman</h1><!-- YOUR NAME AND LAST NAME  -->
        </div>
        <div class="clearfix"></div>
        <div class="contact-info clearfix">
          <ul class="list-titles">
            <li>Call</li>
            <li>Mail</li>
            <li>Web</li>
            <li>Home</li>
            <li>Current Location</li>
          </ul>
          <ul class="list-content ">
            <li>+267-901-3864</li> <!-- YOUR PHONE NUMBER  -->
            <li>jonathankolman@gmail.com</li> <!-- YOUR EMAIL -->
            <li><a href="#">jonkolman.com</a></li> <!-- YOUR WEBSITE  -->
            <li>Philadelphia, PA</li> <!-- YOUR STATE AND
  COUNTRY  -->
            <li> Oslo, Norway </li>
          </ul>
        </div>
        <div class="contact-presentation"> <!-- YOUR PRESENTATION RESUME  -->
          <p><span class="bold">Hey there!</span> I'm a freelance programmer building applications using Python/Django/Node.js and React.js. I've been programming for 5 years and have extensive <br> experience launching and maintaining production ready applications. I am currently <span class='bold'><a style='cursor:pointer;' href="mailto:jon@jonkolman.com?subject=Freelance%20Opportunity"> available for hire </a></span>
        </div>
        <div class="contact-social clearfix">
          <ul class="list-titles">
            <li>Twitter</li>
            <li>Instagram</li>
            <li>Github</li>
          </ul>
          <ul class="list-content"> <!-- REMEMBER TO PUT THE URL ON THE HREF TAG  -->
            <li><a target='_blank' href="http://twitter.com/jkol36">@jkol36</a></li> <!-- YOUR TWITTER USER  -->
            <li><a target='_blank' href="http://instagram.com/jkol36">@jkol36</a></li> <!-- YOUR DRIBBBLE USER  -->
            <li><a target='_blank' href="http://github.com/jkol36">@jkol36</a></li> <!-- YOUR BEHANCE USER  -->
          </ul>
        </div>
      </div>
    </section>
    
    <section class="experience section-padding">
      <div class="container">
        <h3 class="experience-title">Experience</h3>
        
        <div class="experience-wrapper">
          <div class="company-wrapper clearfix">
            <div class="experience-title">American Law Institute</div> <!-- NAME OF THE COMPANY YOUWORK WITH  -->
            <div class="time">September 2015 - February 2016</div> <!-- THE TIME YOU WORK WITH THE COMPANY  -->
          </div>
          
          <div class="job-wrapper clearfix">
            <div class="experience-title">Full Stack Programmer </div> <!-- JOB TITLE  -->
            <div class="company-description">
              <p>I was responsible for building the backend for ALI in Python/Django. It was a conversion from their cold fusion legacy system.</p>  <!-- JOB DESCRIPTION  -->
            </div>
          </div>
          
          <div class="company-wrapper clearfix">
            <div class="experience-title">Rita's Water Ice</div> <!-- NAME OF THE COMPANY YOUWORK WITH  -->
            <div class="time"> October 2015 - May 2016</div> <!-- THE TIME YOU WORK WITH THE COMPANY  -->
          </div>
          
           <div class="job-wrapper clearfix">
            <div class="experience-title">Backend web developer</div> <!-- JOB TITLE  -->
            <div class="company-description">
              <p>I built a Python SDK to integrate with Clover which is Ritas point of sale system</p>  <!-- JOB DESCRIPTION  -->
            </div>
          </div>
          
          <div class="company-wrapper clearfix">
            <div class="experience-title">Trademate Sports</div> <!-- NAME OF THE COMPANY YOUWORK WITH  -->
            <div class="time">February 2016 - February 2017</div> <!-- THE TIME YOU WORK WITH THE COMPANY  -->
          </div> 
          
           <div class="job-wrapper clearfix">
            <div class="experience-title">Full Stack Developer </div> <!-- JOB TITLE  -->
            <div class="company-description">
              <p>I helped build the frontend using React.js and Redux and maintained the whole system until February.</p>   <!-- JOB DESCRIPTION  -->
            </div>
          </div>
          <div class="company-wrapper clearfix">
            <div class="experience-title">Ticketbrokeru</div> <!-- NAME OF THE COMPANY YOUWORK WITH  -->
            <div class="time">June 2017 - Present</div> <!-- THE TIME YOU WORK WITH THE COMPANY  -->
          </div> 
          
           <div class="job-wrapper clearfix">
            <div class="experience-title">Full Stack Developer </div> <!-- JOB TITLE  -->
            <div class="company-description">
              <p>Ticketbrokeru is a platform to help ticketbrokers use past data to make better business decisions. The main product is a webapp built in react.js. The backend is built in node.js with various machine learning algorithms built with tensorflow.</p>   <!-- JOB DESCRIPTION  -->
            </div>
          </div>
          
        </div><!--Skill experience-->
        <div class='container'> 
           <h3 class="experience-title">Personal Projects</h3>
          <div class="experience-wrapper">
          <div class="company-wrapper clearfix">
            <div class="experience-title">Bovada Bot</div> <!-- NAME OF THE COMPANY YOUWORK WITH  -->
            <div class="time">February 2016 - present</div> <!-- THE TIME YOU WORK WITH THE COMPANY  -->
          </div>
          
          <div class="job-wrapper clearfix">
            <div class="experience-title"> <a href='mailto:jon@jonkolman.com?subject=BovadaBot%20Purchase'>Available for Purchase </a></div> <!-- JOB TITLE  -->
            <div class="company-description">
              <p>Automatically places profitable bets on <a target='_blank' href='http://bovada.lv'> Bovada </a></p>  <!-- JOB DESCRIPTION  -->
            </div>
          </div>
          
          <div class="company-wrapper clearfix">
            <div class="experience-title">Instagram Bot</div> <!-- NAME OF THE COMPANY YOUWORK WITH  -->
            <div class="time"> February 2017 - Present </div> <!-- THE TIME YOU WORK WITH THE COMPANY  -->
          </div>
          
           <div class="job-wrapper clearfix">
            <div class="experience-title"><a target="_blank" href="http://github.com/jkol36/instagrambot">open source on github</a></div> <!-- JOB TITLE  -->
            <div class="company-description">
              <p>Automatically follows people who follow a certain user on Instagram, then unfollows the users who don't follow you back.</p>  <!-- JOB DESCRIPTION  -->
            </div>
          </div>
          
          <div class="company-wrapper clearfix">
            <div class="experience-title">Fetchmate</div> <!-- NAME OF THE COMPANY YOUWORK WITH  -->
            <div class="time">October 2016 - Present</div> <!-- THE TIME YOU WORK WITH THE COMPANY  -->
          </div> 
          
           <div class="job-wrapper clearfix">
            <div class="experience-title"> <a href='mailto:jon@jonkolman.com?subject=Fetchmate%20Purchase'>Available for Purchase </a> </div> <!-- JOB TITLE  -->
            <div class="company-description">
              <p>Type in any hashtag or instagram user and send emails to their followers with a message of your choice.</p>   <!-- JOB DESCRIPTION  -->
            </div>
          </div>
          
        </div><!--Skill experience-->
        </div>
        <div class='container'> 
           <h3 class="experience-title">Freelance Projects</h3>
          <div class="experience-wrapper">
          
          <div class="company-wrapper clearfix">
            <div class="experience-title">RareCarat Scraper</div> <!-- NAME OF THE COMPANY YOUWORK WITH  -->
            <div class="time">February 2017 - present</div> <!-- THE TIME YOU WORK WITH THE COMPANY  -->
          </div>
          
          <div class="job-wrapper clearfix">
            <div class="experience-title"> Programmer </div> <!-- JOB TITLE  -->
            <div class="company-description">
              <p>Scrapes Diamonds off of <a target='_blank' href='http://rarecarat.com'> Rarecaret </a></p>  <!-- JOB DESCRIPTION  -->
            </div>
          </div>
          
          <div class="company-wrapper clearfix">
            <div class="experience-title">QuickLeads</div> <!-- NAME OF THE COMPANY YOUWORK WITH  -->
            <div class="time">August 2016 - Sept 2016</div> <!-- THE TIME YOU WORK WITH THE COMPANY  -->
          </div>
          
          
           <div class="job-wrapper clearfix">
            <div class="experience-title"> Programmer </div> <!-- JOB TITLE  -->
            <div class="company-description">
              <p>Finds leads based on specific criteria</p>  <!-- JOB DESCRIPTION  -->
            </div>
          </div>

          
        </div><!--Skill experience-->
        </div>
        
        <div class="section-wrapper clearfix">
          <h3 class="section-title">Skills</h3>  <!-- YOUR SET OF SKILLS  -->
            <ul>
              <li class="skill-percentage">Building Bots </li>
              <li class="skill-percentage">Python/Django</li>
              <li class="skill-percentage">React JS</li>
              <li class="skill-percentage">Node Js</li>
              <li class="skill-percentage">AWS</li>
              <li class="skill-percentage">Git</li>
              <li class="skill-percentage">Docker</li>
              <li class="skill-percentage">HTML</li>
              <li class="skill-percentage">CSS3/LESS/SCSS</li>
              <li class="skill-percentage">Machine Learning</li>
              <li class="skill-percentage">Scraping</li>
              
            </ul>
          
        </div>
        
        <div class="section-wrapper clearfix">
          <h3 class="section-title">Hobbies</h3>  <!-- DESCRIPTION OF YOUR HOBBIES -->
          <p>I'm really passionate about machine learning and traveling. When I'm not programming you can catch me at the gym, or just learning something new.</p>
          
          <p>Currently, I've visited, Israel, Denmark, Norway, and the UK and in April I'll be in Spain.</p> 
        </div>
        
      </div>
    </section>
    
    <div class="clearfix"></div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/TweenMax.min.js"></script>
  <script src='assets/js/helpers.js'></script>
</html>
